*{
	margin: 0px;
	padding: 0px;
	
}

body {
	background:url(https://images.pexels.com/photos/2124894/pexels-photo-2124894.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment：fixed;

}




























