*{
	margin: 0px;
	padding: 0px;
	
}
.head{
	height: 50px;
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 2px black solid;
}
nav{
	line-height: 50px;
	
}
.head nav li{
	display: inline-block;
	float: right;
/* 	line-height: 50px; */
	padding-right: 40px;
}
.head nav li a{
	display: inline-block;
	line-height: 50px;
	text-decoration:none;
	font-style: initial;
	color:white;
	min-width: 60px;
/* 	margin:0 auto; */
}
.head nav li a:hover{
/* 	color:red; */
	background: #aaa;
}

/*头部结束*/

/*身体部分*/
.body{
	margin: 0 auto;
	padding-top: 50px;
	width: 800px;
}
